# Predicting world happiness

[DSLC stages]: Analysis



Conduct your predictive analysis of world happiness in this document.

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

from functions.clean_happiness import clean_happiness

pd.set_option('display.max_columns', None)

In [3]:
# load the data
happiness_orig = pd.read_excel("../data/WHR2018Chapter2OnlineData.xls", sheet_name=0)
# clean the data
happiness_clean = clean_happiness(happiness_orig, predictor_variable="life_expectancy")
happiness_clean

          country  year  happiness  life_expectancy
0     Afghanistan  2008   3.723590        49.209663
1     Afghanistan  2009   4.401778        49.624432
2     Afghanistan  2010   4.758381        50.008961
3     Afghanistan  2011   3.831719        50.367298
4     Afghanistan  2012   3.782938        50.709263
...           ...   ...        ...              ...
1557     Zimbabwe  2013   4.690188        48.949745
1558     Zimbabwe  2014   4.184451        50.051235
1559     Zimbabwe  2015   3.703191        50.925652
1560     Zimbabwe  2016   3.735400        51.800068
1561     Zimbabwe  2017   3.638300        52.674484

[1562 rows x 4 columns]